{% extends "base.html" %}
{% block content %}
<center>
<h2>About</h2>
<p>When searching for a place to live, it is important to consider the distance to certain locations based on one’s own visitation frequency and affinity towards them. A long commute is often enough to discourage one from pursuing activities that may be beneficial towards them, such as exercising. Specialized needs, such as a children’s hospital or nursing home, may also be necessary during a home search.</p>
<p>Enter your city, state and preferred amenities to find a neighborhood within walking distance and within your price range.</p>
</center>
{% endblock %}
