{% extends "base.html" %}
{% block content %}
<center>
  <div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
      <h1>About</h1>
      <p>When searching for a place to live, it is important to
      consider the distance to certain locations based on one’s own
      visitation frequency and affinity towards them. A long commute
      is often enough to discourage one from pursuing activities that
      may be beneficial towards them, such as exercising. Specialized
      needs, such as a children’s hospital or nursing home, may also
      be necessary while searching for a new home. For this reason, we
      created this program to help solve these problems.</p>
      <p>Enter your city, state and preferred amenities to find a
      neighborhood within walking distance and within your price
      range. Once you press submit, our program uses information from
      a few Google API's as well as data from Quadl to find the best
      location. This program returns a zip code and a street map of
      that zip code to the user in the results page.</p>
      <p>DISCLAIMER: This program only searches for the first 100
      results due to a long run time because of Google's limit on how
      quickly a user can re-use their api. A two-second delay has been
      put in the program in order for it to run without errors. </p>
      <p>This project was created by: Yasmeen Roumie and Sammi Wu
      Leung with special thanks to Justin Strauss, our mentor. </p>
    </div>
  </div>
</center>
{% endblock %}
