<!DOCTYPE HTML>
<html>
  <head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet"
href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/ico" href="http://i122.photobucket.com/albums/o260/mhilka/minigifs/minigifs254.gif
" />
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<title>Realest</title>
<style>
* {
  background-image: url("/images/taxibackground.jpg");
  font-family: 'Arvo', serif;
}

</style>
  </head>
  <body>
    <div class="header">
      <div class="pure-menu pure-menu-horizontal">
        <a href="/" class="pure-menu-heading pure-menu-link">REALEST</a>
        <a href="/about" class="pure-menu-list pure-menu-link">about</a>
        <a href="/contact" class="pure-menu-list pure-menu-link">contact</a>
      </div>
      <!-- <div class="realest"><h1>Realest</h1></div> -->
    </div>

    {% block content %}

    {% endblock %}
  </body>
</html>
