{% extends "base.html" %}
{% block content %}
<center>
<h1>SEARCH</h1>
<form action="/" class="pure-form pure-form-aligned" method="POST">
<fieldset>
<div class="pure-control-group">
  <label for="city">Location</label>
  <input class="pure-input-2-3" id="city" placeholder="e.g. New York, NY"
  name="city" required>
</div>
</div>
<div class="pure-control-group">
  <label for="near">Near</label>
  <input class="pure-input-2-3" id="near" placeholder="e.g. Starbucks,Pizza,Fitness"
  name="near" required>
</div>
<div class="pure-control-group">
  <label for="price">Price Limit</label>
  <input class="pure-input-2-3" id="price" placeholder="e.g. 500000"
  name="price">
</div>
<div class="pure-control-group">
  Property Type
  <label for="property" class="pure-radio">
    <input id="property" type="radio" name="optionsRadios" value="buy" checked>
    Buy
  </label>
  <label for="property" class="pure-radio">
    <input id="property" type="radio" name="optionsRadios" value="rent">
    Rent
  </label>
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script type="text/javascript">
var input1=document.getElementById('city');
var options={componentRestrictions: {country: 'us'}};
new google.maps.places.Autocomplete(input1, options);
</script>
</center>
<center>
<div class="pure-controls">
  <button type="submit" name="b" value="Search" class="pure-button
  pure-button-primary">Search</button>
</div>
</fieldset>
</form>
</center>
{% endblock %}
