{% extends "base.html" %}
{% block content %}
<center>
<h2>Search</h2>
<form action="/" class="pure-form pure-form-aligned" method="POST">
<fieldset>
<div class="pure-control-group">
  <label for="city">City</label>
  <input class="pure-input-2-3" id="city" placeholder="New York"
  name="city">
</div>
<div class="pure-control-group">
  <label for="State">State</label>
  <input class="pure-input-2-3" id="state" placeholder="NY"
  name="state">
</div>
<div class="pure-control-group">
  <label for="near">Near</label>
  <input class="pure-input-2-3" id="near" placeholder="Starbucks,Pizza,Fitness"
  name="near">
</div>
<div class="pure-control-group">
  <label for="price">Price Limit</label>
  <input class="pure-input-2-3" id="price" placeholder="1000000"
  name="price">
</div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script type="text/javascript">
var input1=document.getElementById('City');
var input2=document.getElementById('State');
var options={componentRestrictions: {country: 'us'}};
new google.maps.places.Autocomplete(input1, options);
new google.maps.places.Autocomplete(input2, options);
</script>
</center>
<center>
<div class="pure-controls">
  <button type="submit" name="b" value="Search" class="pure-button
  pure-button-primary">Search</button>
</div>
</fieldset>
</form>
</center>
{% endblock %}
